<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ｅ家家平台</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"  style="text-align: center;margin-top: 45%">
   <span class="glyphicon glyphicon-remove-circle" style="font-size: 120px;color: red"></span>
    <br>
    <br>
    <br>
    <p class="lead">您已取消<br>̷℮家家管理授权</p>
</div>
</body>
</html>