<div class="container">
    <form class="form-signin" name="SignInForm" role="form" ng-show="Login_register" ng-submit="login(loginUserName,loginPassWord,rememberMe)">
        <input type="text" class="form-control userName" placeholder="用户名" ng-model="loginUserName" required autofocus>
        <input type="password" class="form-control loginPassword" placeholder="密码" ng-model="loginPassWord" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="rememberMe" value="remember-me"> 记住密码
            </label>
        </div>
        <div id="errorText" class="hidden">
            <p class="text-danger">帐号或者密码错误</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"ng-disabled="SignInForm.$invalid">登录</button>
        <div>
            <p>还没有账号？ <a ng-click="changeLogin()">注册</a></p>
        </div>
    </form>
    <form class="form-signin" name="registerForm" role="form" ng-hide="Login_register" ng-submit="registerActive(registerUserName,registerPassWord,invitationCode)">
        <input type="text" style="display: none">
        <input type="password" style="display: none;">
        <input type="text" class="form-control userName" placeholder="用户名" ng-model="registerUserName" required autofocus>
        <input type="password" class="form-control registerPassword" placeholder="密码" ng-model="registerPassWord" required>
        <input type="text" class="form-control registerCode" placeholder="邀请码" ng-model="invitationCode" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="registerForm.$invalid">注册</button>
        <span class="badge"></span>
        <div>
            <p>已有账号？ <a ng-click="changeLogin()">登录</a></p>
        </div>
    </form>
</div>
