<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-click="chooseQueryView(1)" ng-class="querysidebarStyle(1)"><a>记录查询</a></li>
                <li ng-click="chooseQueryView(2)" ng-class="querysidebarStyle(2)"><a>设备日志</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <ng-include src = "functionalQueryView()"></ng-include>
        </div>
    </div>
</div>