<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0;min-width: 500px">
    <div class="panel panel-info myPanel">
        <div class="panel-heading clearfix">
            <span style="display: inline-block">指纹管理</span>
            <input style="width: 130px;border: 1px;border-radius: 4px;margin-left: 15px;padding: 1px 5px" ng-model="fingerprintFilterStr">
            <button class="btn btn-xs btn-primary" ng-click="fingerprintFilter(fingerprintFilterStr)">查询</button>
            <button class="btn btn-xs btn-default" ng-click="selectAllFingerprint()">全选</button>
            <button class="btn btn-xs btn-default" ng-click="selectAllfingerprint_not()">取消</button>
            <button ng-click="deletefingerprint()"
                    class="btn btn-danger pull-right"
                    style="padding: 1px 10px;margin-left: 10px">
                删除指纹
            </button>
            <button type="button"
                    class="btn btn-success pull-right"
                    style="padding: 1px 10px"
                    ng-click="openAddFinger()">
                添加指纹
            </button>
        </div>
        <div style="height: 365px;overflow-y: scroll">
            <table class="table table-bordered table-condensed voucher">
                <thead>
                <tr>
                    <th> </th>
                    <th>#</th>
                    <th>姓名</th>
                    <th>身份证号码</th>
                    <th>手指</th>
                    <th>住址</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in fingerprint_viewData" ng-mousedown="chooseFingerprint($index,$event,item)">
                    <td>{{$index+1}}</td>
                    <td style="position: relative">
                        <input id="{{$index}}" type="checkbox" name="chooseAuthFingerprint" value="{{item}}">
                        <div style="position: absolute;width: 100%;height: 100%;z-index: 99;top: 0;left: 0"></div>
                    </td>
                    <td>{{item.nric | nricToname:communityData.personnel}}</td>
                    <td>{{item.nric | nricFilter}}</td>
                    <td>{{item.finger | fingerFilter}}</td>
                    <td>
                        <table>
                            <tr ng-repeat="room in item.nric | nricTorooms:communityData.personnel">
                                <td>{{room | roomName:communityData.address}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 Authorized" style="padding: 0;min-width: 450px">
    <div class="panel panel-info clearfix">
        <div class="panel-heading">
            <input style="width: 100px;border: 1px;border-radius: 4px;margin-right: 15px;padding: 1px 5px"
                   ng-model="authDevice_Filter">
            <button class="btn btn-default pull-right" style="padding: 1px 10px" ng-click="authFingerprintToDevice()">授权</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 150px;overflow-y: scroll">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>门口机</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="device in unalreadyAuthFingerprint | unAuthDevice_filter:authDevice_Filter">
                    <td><input type="checkbox" value="{{device}}" name="chooseAuthDevice" ng-click="selectAuthDevice()"></td>
                    <td>{{device.address | deviceAddress}}</td>
                    <td>{{device.remark}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="alreadyTimeAuth" ng-model="alreadyTime" ng-click="validityTimeDefault()">有效期：
                    </label>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" id="validityTime" ng-disabled="!alreadyTime">
                </div>
            </form>
            <div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="alreadyBindingAuth" ng-disabled="chooseBinding" ng-click="selectBinding()">绑定房：
                    </label>
                </div>
                <div class="form-group">
                    <select class="form-control" id="bindingRoomAddress" ng-disabled="!alreadyBinding">
                        <option ng-repeat="item in bindingRoom" value="{{item.id}}">{{item.id | bindingroomToaddress:communityData.address}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 Authorized"
     style="padding: 0;min-width: 450px;">
    <div class="panel panel-success">
        <div class="panel-heading">
            <span style="display: inline-block">已授权门禁</span>
            <button ng-click="deleteAuthfingerprint()"
                    class="btn btn-warning pull-right"
                    style="padding: 1px 10px;margin-left: 10px">
                取消授权
            </button>
        </div>
        <div style="height: 135px;overflow-y: scroll">
            <table class="table table-condensed table-bordered">
                <thead>
                <tr><th>#</th><th>门禁</th><th>期限</th><th>绑定房号</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="authDevice in alreadyAuthFingerprint.$">
                    <td>
                        <input type="checkbox" value="{{authDevice}}" name="chooseAlreadyAuth">
                    </td>
                    <td>{{authDevice.deviceId | deviceToAddress:communityData.devices | deviceAddress}}</td>
                    <td>{{authDevice.expire ? authDevice.expire*1000 : " " |  date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{authDevice.binding | bindingroomToaddress:communityData.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span style="display: inline-block">授权结果</span>
            </div>
                <table class="table table-condensed table-bordered">
                    <thead>
                    <tr><th>门口机</th><th>成功</th><th>失败</th><th>失败原因</th></tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in authCompleteinfo">
                        <td>{{item.device | deviceToAddress:communityData.devices | deviceAddress}}</td>
                        <td>{{item.success.length || 0}}
                            <div class="dropdown pull-right">
                                <button class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    查看
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="menu in item.success"><a>{{menu | fingerprintToName:selectedFingerprint}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{item.fail.length || 0}}
                            <div class="dropdown pull-right">
                                <button class="btn btn-danger btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    查看
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li ng-repeat="menu in item.fail"><a>{{menu | fingerprintToName:selectedFingerprint:communityData.personnel:FingerConstans}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{item.message}}</td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
<!--指纹采集view-->
<div class="modal" id="addFinger" tabindex="-1">
    <div class="modal-dialog modal-sm myModalSize" role="document">
        <div class="modal-content">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class="panel-heading">
                    指纹采集
                </div>
                <form class="form-horizontal" style="padding: 15px 5px 5px 0;margin: auto;width: 100%">
                    <div class="form-group" style="margin-left: 0;margin-right: 0">
                        <label class="col-sm-2 control-label" style="padding: 7px 0 0 0;min-width: 35px">用户:</label>
                        <div class="col-sm-10" style="padding-right: 0">
                            <select class="form-control col-sm-5" style="width: 104px" ng-model="addressBuilding" ng-options="item.name for item in communityData.address.items.$"></select>
                            <select class="form-control col-sm-4" style="width: 104px" ng-model="addressUnit" ng-options="item.name for item in addressBuilding.items.$"></select>
                            <select class="form-control col-sm-3" style="width: 80px" ng-model="addressRoom" ng-options="item.id for item in addressUnit.items.$" ng-change="roomPersonnel(addressRoom)"></select>
                            <select class="form-control" style="float: left;width: 90px" ng-model="cardPersonnel" ng-change="getUserFingerprints(cardPersonnel)">
                                <option ng-repeat="item in cardPersonnels.$" value="{{item}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 0;margin-right: 0">
                        <label for="FingerConstans" class="col-sm-2 control-label" style="padding: 7px 0 0 0;min-width: 35px">手指:</label>
                        <div class="col-sm-4" style="padding-right: 0">
                            <select class="form-control" id="FingerConstans" ng-model="FingerConstansmodel" ng-change="chooseFingerConstans(FingerConstansmodel)">
                                <option ng-repeat="item in FingerConstans" value="{{item.id}}" ng-class="chooseFinger(item)">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 0;margin-right: 0" ng-hide="chooseFingersInfoHide">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span id="chooseFingersInfo" style="display: inline-block;margin-left: 5px;padding-top: 6px" class="text-info">系统中已有该指纹信息，可以直接保存也可以重新采集！</span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 0;margin-right: 0">
                        <label class="col-sm-2 control-label" style="padding:0;min-width: 35px">指纹:</label>
                        <div class="col-sm-10" style="padding-right: 0">
                            <span style="margin-right:10px"><img id="fingerprint1" src="images/scanfinger1.png" border="1px" width="80px" height="100px"/></span>
                            <span style="margin-right:10px"><img id="fingerprint2" src="images/scanfinger2.png" border="1px" width="80px" height="100px" /></span>
                            <span style="margin-right:10px"><img id="fingerprint3" src="images/scanfinger3.png" border="1px" width="80px" height="100px" /></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 0;margin-right: 0">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info pull-left" ng-click="resetFinger()" ng-disabled="websocketIsready">重新采集</button>
                            <span id="FingersInfo" style="display: inline-block;margin-left: 5px;padding-top: 6px"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 0;margin-right: 0">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success pull-left" ng-click="addFinger(FingerConstansmodel,cardPersonnel)">保存</button>
                            <button type="submit" class="btn btn-danger pull-right" ng-click="closeAddFinger()">退出</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

