<div class="panel panel-info myPanel">
    <div class="panel-heading clearfix">
        <span>人员管理</span>
        <input style="width: 200px;border: 1px;border-radius: 4px;margin-left: 15px;padding: 1px 5px" ng-model="personnelFilterStr">
        <button class="btn btn-xs btn-primary" ng-click="personnelFilterStr=''">全部</button>
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".addPersonnel">添加人员</button>
            <button type="button" class="btn btn-default btn-xs" ng-click="deletePersonnel()">删除人员</button>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".personnelEdit">修改编辑</button>
        </div>
    </div>
    <div style="max-height: calc(100vh - 170px);overflow-y: scroll">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>身份证号码</th>
                    <th>住址</th>
                    <th>电话号码</th>
                    <th>职业</th>
                    <th>QQ号码</th>
                    <th>微信</th>
                    <th>手机MAC</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in communityData | personFilter:personnelFilterStr" ng-click="choosePersonnel(item)" ng-class="chooseStyle(item)">
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.nric | nricFilter}}</td>
                    <td>
                        <table>
                            <tr ng-repeat="room in item.rooms">
                                <td>{{room.id | roomName}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{{item.phone}}</td>
                    <td>{{item.occupation}}</td>
                    <td>{{item.QQ}}</td>
                    <td>{{item.wechat}}</td>
                    <td>{{item.phoneMac}}</td>
                    <td>{{item.remark}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade addPersonnel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary" style="padding: 5px 15px;">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h5 class="modal-title">添加人员信息</h5>
            </div>
            <div class="modal-body clearfix" style="padding: 2px 4px">
                <div class="clearfix bg-info" style="padding: 4px">
                    <div class="row">
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">姓名:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" ng-model="newPerson.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">性别:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" ng-value=1 ng-model="newPerson.sex"> 男
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" ng-value=2 ng-model="newPerson.sex"> 女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">民族:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <select type="text" class="form-control input-sm" ng-model="newPerson.nation" ng-options="item.name as item.name for item in nationList"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-7">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">身份证号码:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" style="max-width: 100%" ng-model="newPerson.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">身份证地址:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" style="max-width: 100%" ng-model="newPerson.idAddress">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">出生日期:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="date" class="form-control input-sm" style="max-width: 100%" ng-model="newPerson.birthday">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-2">
                            <!--<input type="file" name="HeadImage" id="HeadImage" onchange="changepic(this)" style="display: none" />-->
                            <img id="showImage" ng-src="{{newPerson.head}}" alt="" class="img-thumbnail"
                                 style="position: absolute;top: 10px; height: 126px; width:102px">
                            <!--<label for="HeadImage" style="width: 100%;height: 126px;opacity: 0;"></label>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">手机号码:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" ng-model="newPerson.tel">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-8">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">身份证有效期:</label>
                                <div class="col-xs-3" style="padding: 0 0 0 10px;">
                                    <input type="date" class="form-control input-sm" ng-model="newPerson.idValidBegin">
                                </div>
                                <div style="float: left">
                                    <span class="glyphicon glyphicon-resize-horizontal"
                                          style="display: inline-block;height: 30px;line-height: 30px"></span>
                                </div>
                                <div class="col-xs-3" style="padding: 0;">
                                    <input type="date" class="form-control input-sm" ng-model="newPerson.idValidEnd" ng-disabled="newPerson.permanent">
                                </div>
                                <div class="col-xs-2" style="padding: 0 0 0 10px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="newPerson.permanent">
                                            永久
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label for="addHouseInfo">添加房屋信息:</label>
                    <div class="collapse" id="addHouseInfo">
                        <div class="well well-lg clearfix" style="padding: 15px 10px;margin-bottom: 5px">
                            <div class="form-inline bg-danger">
                                <div class="form-group">
                                    <label>楼号:</label>
                                    <select class="form-control input-sm" ng-model="addressBuilding" ng-options="item.name for item in communityData.address.buildings"></select>
                                </div>
                                <div class="form-group">
                                    <label>单元:</label>
                                    <select class="form-control input-sm" ng-model="addressUnit" ng-options="item.name for item in addressBuilding.units"></select>
                                </div>
                                <div class="form-group">
                                    <label>房号:</label>
                                    <select class="form-control input-sm" ng-model="addressRoom" ng-options="item.id for item in addressUnit.apartments | orderBy:'id'" ng-change="refreshAddAddressList()"></select>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="roomSample.living">是否居住
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>与户主关系:</label>
                                    <select class="form-control input-sm" ng-model="roomSample.relative"
                                            ng-options="item.id as item.name for item in relativeList"></select>
                                </div>
                                <div class="form-group" ng-show="roomSample.relative===10">
                                    <label>租赁区间:</label>
                                    <input type="date" class="form-control input-sm" ng-model="roomSample.rentalStart">--<input type="date" class="form-control input-sm" ng-model="roomSample.rentalEnd">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="roomSample.uniform">人户是否一致
                                    </label>
                                </div>
                                <button type="button" class="btn btn-default btn-sm" ng-click="addAddress(addressBuilding,addressUnit,addressRoom)">添加</button>
                            </div>
                        </div>
                    </div>
                    <table class="table col-lg-12 table-hover table-condensed well" ng-hide="addAddressview">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col class="text-center col-lg-3">
                            <col class="col-xs-1 text-right">
                        </colgroup>
                        <thead>
                            <tr class="bg-danger">
                                <th>地址</th>
                                <th>居住</th>
                                <th>人户一致</th>
                                <th>与户主关系</th>
                                <th>租赁期起始结束时间</th>
                                <th><button class="btn btn-success btn-xs glyphicon glyphicon-plus" ng-click="addAddress(addressBuilding,addressUnit,addressRoom)"></button></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in newPerson.rooms">
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control input-sm" ng-model="addressBuilding" ng-options="item.name for item in communityData.address.buildings"></select>
                                        <label class="small">-</label>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control input-sm" ng-model="addressUnit" ng-options="item.name for item in addressBuilding.units"></select>
                                        <label class="small">-</label>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control input-sm" ng-model="addressRoom" ng-options="item.id for item in addressUnit.apartments | orderBy:'id'" ng-change="refreshAddAddressList()"></select>
                                    </div>
                                </div>
                            </td>
                            <td class="small">
                                <label><input type="checkbox" is-true ng-model="item.living"> 是</label>&nbsp;
                                <label><input type="checkbox" is-false ng-model="item.living"> 否</label>
                            </td>
                            <td class="small">
                                <label><input type="checkbox" is-true ng-model="item.uniform"> 是</label>&nbsp;
                                <label><input type="checkbox" is-false ng-model="item.uniform"> 否</label>
                            </td>
                            <td><select class="form-control input-sm" ng-model="item.relative" ng-options="item.id as item.name for item in relativeList"></select></td>
                            <td>
                                <form ng-show="item.relative===10" class="form-inline">
                                    <input type="date" class="form-control input-sm" ng-model="item.rentalStart" style="width: 140px">
                                    <span>- </span><input type="date" class="form-control input-sm" ng-model="item.rentalEnd" style="width: 140px">
                                </form>
                            </td>
                            <td><button class="btn btn-warning btn-xs glyphicon glyphicon-minus" ng-click="deleteAddAddress(item.guid)"></button></td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="form-horizontal col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">居民类型:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="residentType" ng-value=1 ng-model="newPerson.kind"> 本地居民
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="residentType" ng-value=2 ng-model="newPerson.kind"> 常来往人员
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">户籍:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="householdType" ng-value=1 ng-model="newPerson.fluidity"> 常住人口
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="householdType" ng-value=2 ng-model="newPerson.fluidity"> 流动人口
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍省份:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <select class="form-control input-sm" ng-model="newPerson.province" ng-options="item.name for item in pac"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍市:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <select class="form-control input-sm" ng-model="newPerson.city" ng-options="item.name for item in newPerson.province.children"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍区/县:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <select class="form-control input-sm" ng-model="newPerson.district" ng-options="item.name for item in newPerson.city.children"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal col-xs-7">
                            <div class="form-group">
                                <label class="col-xs-2 control-label" style="padding: 7px 0">户籍地址:</label>
                                <div class="col-xs-10" style="padding: 0 0 0 10px;">
                                    <input class="form-control input-sm" style="max-width: 100%" ng-model="newPerson.domicile">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍号:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <input class="form-control input-sm" ng-model="newPerson.regCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-inline" style="padding: 20px 0">
                    <div class="form-group">
                        <label>QQ:</label>
                        <input class="form-control input-sm" style="max-width: 100px" ng-model="newPerson.qq">
                    </div>
                    <div class="form-group">
                        <label>微信:</label>
                        <input class="form-control input-sm" style="max-width: 100px" ng-model="newPerson.wechat">
                    </div>
                    <div class="form-group">
                        <label>职业:</label>
                        <input class="form-control input-sm" style="max-width: 100px" ng-model="newPerson.workUnit">
                    </div>
                    <div class="form-group">
                        <label>手机MAC:</label>
                        <input class="form-control input-sm" style="max-width: 150px" ng-model="newPerson.mac">
                    </div>
                    <div class="form-group">
                        <label>备注:</label>
                        <input class="form-control input-sm" ng-model="newPerson.remark">
                    </div>
                </div>
                <div class="row text-center">
                    <button class=" btn btn-primary btn-lg" ng-click="addPersonnel(newPerson)">提 交</button>
                    <span class="text-success" ng-show="alertSuccess">添加成功</span>
                    <span class="text-danger" ng-show="alertFail">添加失败</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade personnelEdit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary" style="padding: 5px 15px;">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h5 class="modal-title">修改人员信息</h5>
            </div>
            <div class="modal-body clearfix" style="padding: 10px">
                <div class="clearfix" style="border: dashed 1px red;padding: 4px">
                    <div class="row">
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">姓名:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" ng-model="curPerson.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">性别:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" ng-value=1 ng-model="curPerson.sex"> 男
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" ng-value=2 ng-model="curPerson.sex"> 女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">民族:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <select type="text" class="form-control input-sm" ng-model="curPerson.nation" ng-options="item.name as item.name for item in nationList"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-7">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">身份证号码:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" style="max-width: 100%" ng-model="curPerson.id" ng-disabled="editing">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">身份证地址:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" style="max-width: 100%" ng-model="curPerson.idAddress">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">出生日期:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="date" class="form-control input-sm" style="max-width: 100%" ng-model="curPerson.birthday">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-2">
                            <!--<input type="file" name="HeadImage" id="HeadImage" onchange="changepic(this)" style="display: none" />-->
                            <img ng-src="{{curPerson.head}}" alt="" class="img-thumbnail"
                                 style="position: absolute;top: 10px;height: 126px; width:102px">
                            <!--<label for="HeadImage" style="width: 100%;height: 126px;opacity: 0;"></label>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">手机号码:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control input-sm" ng-model="curPerson.tel">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-8">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">身份证有效期:</label>
                                <div class="col-xs-3" style="padding: 0 0 0 10px;">
                                    <input type="date" class="form-control input-sm" ng-model="curPerson.idValidBegin">
                                </div>
                                <div style="float: left">
                                    <span class="glyphicon glyphicon-resize-horizontal"
                                          style="display: inline-block;height: 30px;line-height: 30px"></span>
                                </div>
                                <div class="col-xs-3" style="padding: 0;">
                                    <input type="date" class="form-control input-sm" ng-model="curPerson.idValidEnd" ng-disabled="curPerson.permanent">
                                </div>
                                <div class="col-xs-2" style="padding: 0 0 0 10px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="curPerson.permanent">
                                            永久
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#editHouseInfo"
                            aria-expanded="false" aria-controls="editHouseInfo">
                        添加房屋信息
                    </button>
                    <div></div>
                    <div class="collapse" id="editHouseInfo">
                        <div class="well well-lg clearfix" style="padding: 15px 10px;margin-bottom: 5px">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>楼号:</label>
                                    <select class="form-control input-sm" ng-model="addressBuilding" ng-options="item.name for item in communityData.address.buildings"></select>
                                </div>
                                <div class="form-group">
                                    <label>单元:</label>
                                    <select class="form-control input-sm" ng-model="addressUnit" ng-options="item.name for item in addressBuilding.units"></select>
                                </div>
                                <div class="form-group">
                                    <label>房号:</label>
                                    <select class="form-control input-sm" ng-model="addressRoom" ng-options="item.id for item in addressUnit.apartments | orderBy:'id'" ng-change="refreshAddAddressList()"></select>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="roomSample.living">是否居住
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>与户主关系:</label>
                                    <select class="form-control input-sm" ng-model="roomSample.relative"
                                            ng-options="item.id as item.name for item in relativeList"></select>
                                </div>
                                <div class="form-group" ng-show="roomSample.relative===10">
                                    <label>租赁区间:</label>
                                    <input type="date" class="form-control input-sm" ng-model="roomSample.rentalStart">--<input type="date" class="form-control input-sm" ng-model="roomSample.rentalEnd">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="roomSample.uniform">人户是否一致
                                    </label>
                                </div>
                                <button type="button" class="btn btn-default btn-sm" ng-click="editAddAddress(addressBuilding,addressUnit,addressRoom)">添加</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-condensed">
                        <tr ng-repeat="item in curPerson.rooms">
                            <td>{{item.name}}</td>
                            <td>{{item.living ? "居住" : "不居住"}}</td>
                            <td>人户一致：{{item.uniform ? "是" : "否"}}</td>
                            <td>与户主关系：{{item.relative | relativeText}}</td>
                            <td ng-show="item.rentalStart">租赁期从 {{item.rentalStart | date:'yyyy年MM月dd日'}} 到 {{item.rentalEnd | date:'yyyy年MM月dd日'}}</td>
                            <td><button class="btn btn-warning btn-xs" ng-click="editDeleteAddAddress(item.id)">删除</button></td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="form-horizontal col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">居民类型:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="residentType" ng-value=1 ng-model="curPerson.kind"> 本地居民
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="residentType" ng-value=2 ng-model="curPerson.kind"> 常来往人员
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" style="padding: 7px 0">户籍:</label>
                                <div class="col-xs-9" style="padding: 0 0 0 10px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="householdType" ng-value=1 ng-model="curPerson.fluidity"> 常住人口
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="householdType" ng-value=2 ng-model="curPerson.fluidity"> 流动人口
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍省份:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <select class="form-control input-sm" ng-model="curPerson.province" ng-options="item.name for item in pac"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍市:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <select class="form-control input-sm" ng-model="curPerson.city" ng-options="item.name for item in curPerson.province.children"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍区/县:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <select class="form-control input-sm" ng-model="curPerson.district" ng-options="item.name for item in curPerson.city.children"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal col-xs-7">
                            <div class="form-group">
                                <label class="col-xs-2 control-label" style="padding: 7px 0">户籍地址:</label>
                                <div class="col-xs-10" style="padding: 0 0 0 10px;">
                                    <input class="form-control input-sm" style="max-width: 100%" ng-model="curPerson.domicile">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" style="padding: 7px 0">户籍号:</label>
                                <div class="col-xs-6" style="padding: 0 0 0 10px;">
                                    <input class="form-control input-sm" ng-model="curPerson.regCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-inline" style="padding: 20px 0">
                    <div class="form-group">
                        <label>QQ:</label>
                        <input class="form-control input-sm" style="max-width: 100px" ng-model="curPerson.qq">
                    </div>
                    <div class="form-group">
                        <label>微信:</label>
                        <input class="form-control input-sm" style="max-width: 100px" ng-model="curPerson.wechat">
                    </div>
                    <div class="form-group">
                        <label>职业:</label>
                        <input class="form-control input-sm" style="max-width: 100px" ng-model="curPerson.workUnit">
                    </div>
                    <div class="form-group">
                        <label>手机MAC:</label>
                        <input class="form-control input-sm" style="max-width: 150px" ng-model="curPerson.mac">
                    </div>
                    <div class="form-group">
                        <label>备注:</label>
                        <input class="form-control input-sm" ng-model="curPerson.remark">
                    </div>
                </div>
                <div class="row text-center">
                    <button class=" btn btn-primary btn-lg" ng-click="editPerson(curPerson)">提 交</button>
                    <span class="text-success" ng-show="alertSuccess">修改成功</span>
                    <span class="text-danger" ng-show="alertFail">修改失败</span>
                </div>
            </div>
        </div>
    </div>
</div>